@model CartIndexViewModel
@{
    ViewBag.Title = "Cart";
}

<br />
@*<div class="container mt-5">
    <h3 class="text-center m-2" style="font-size:2.6em; text-decoration-line:underline;">Your cart</h3>

    <div class="card border-0">

        @foreach (var line in Model.Cart.Lines)
        {
            <div class="container">
                <div class="row border mt-2 p-2" style="box-shadow:1px 1px 4px #000000;">
                    <div class="col">
                        <img src="@line.Product.Image" asp-append-version="true" alt=""
                             style="height:140px; width:140px;" />
                    </div>
                    <div class="col p-2">

                        <h4 class="card-title" style="font-size:2.6em;">@line.Product.Name</h4>
                        <p class="card-text" style="font-size:2.2em;">
                            @line.Quantity x @line.Product.ProductPrice
                            <strong class="ml-1">
                                Total: @(line.Quantity * line.Product.ProductPrice)
                            </strong>
                        </p>

                        <div class="float-right">
                            <a asp-action="Plus" asp-route-productId="@line.Product.Id"
                               class="btn btn-success" style="font-size:1.8em;">
                                <i class="fas fa-plus"></i>
                            </a>
                            <a asp-action="Minus" asp-route-productId="@line.Product.Id"
                               class="btn btn-danger" style="font-size:1.8em;">
                                <i class="fas fa-minus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="mt-3 mb-1">
            <span class="badge badge-warning float-right" style="font-size:2.3em; font-weight:bolder;">
                Total cost: @Model.Cart.ComputeTotalValue().ToString("c")
            </span>
        </div>

        <hr />
        <div class="text-center">
            <a class="btn btn-primary float-left" asp-action="List" asp-controller="Product" style="font-size:1.7em;">Back</a>
            <a class="btn btn-success float-right" asp-action="Checkout" asp-controller="Order" style="font-size:1.7em;">Checkout</a>
        </div>
    </div>

</div>*@

<form method="post">
    @if (Model.Cart.Lines.Count() > 0)
    {
        <div class="container mt-5 mb-5">
            <div class="card mt-3">
                <div class="card-header ml-0 row container">

                    <div class="col-6">
                        <i class="fa fa-shopping-cart"></i>
                        Shopping Cart
                    </div>

                </div>

                <div class="card-body">
                    @foreach (var i in Model.Cart.Lines)
                    {
                        <div class="row">

                            <div class="d-none d-lg-block col-lg-1 text-center py-2">
                                <img src="@i.Product.Image" class="rounded" width="100%" />
                            </div>

                            <div class="col-12 text-sm-center col-lg-6 text-lg-left">
                                <h5>@i.Product.Name</h5>
                                <p>
                                    <small>
                                        @Html.Raw(i.Product.ProductDescription.Substring(0, 99) + "...")
                                    </small>
                                </p>
                            </div>
                            <div class="col-12 text-sm-center col-lg-5 text-lg-right row">

                                <div class="col-4 text-md-right" style="padding-top:5px;">
                                    <h6>
                                        <strong>
                                            @i.Product.ProductPrice x @i.Quantity
                                        </strong>
                                    </h6>
                                    @*<h5>
                                        Cost: @(i.Product.ProductPrice * i.Quantity)
                                    </h5>*@
                                </div>

                                <div class="col-6 col-sm-4 col-lg-6">

                                    <div class="float-right">
                                        <a asp-action="Plus" asp-route-productId="@i.Product.Id"
                                           class="btn btn-success" style="font-size:1.8em;">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                        <a asp-action="Minus" asp-route-productId="@i.Product.Id"
                                           class="btn btn-danger" style="font-size:1.8em;">
                                            <i class="fas fa-minus"></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <hr />
                    }

                    <div class="row">
                        <div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 pr-4">
                            <ul class="list-group">

                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <span class="text-info">
                                        Total:
                                    </span>
                                    <strong class="text-info">
                                        <span id="txtOrderTotal">
                                            @Model.Cart.ComputeTotalValue() $
                                        </span>
                                    </strong>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>

                <div class="card-footer">

                    <div class="d-flex justify-content-center">
                        <a class="btn btn-primary form-control m-1" asp-action="List" asp-controller="Product" style="font-size:1.7em;">
                            Back
                        </a>
                        <a class="btn btn-success form-control m-1" asp-action="Checkout" asp-controller="Order" style="font-size:1.7em;">
                            Checkout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h3 class="text-danger text-center">
            Your cart empty
        </h3>
    }

</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}