@model ReflectionIT.Mvc.Paging.PagingList<Order>

@{
    ViewBag.Title = "База данных: Заказы";
    Layout = "_AdminLayout";
}


<br />
<div class="container mt-2">

    <br />
    <form method="get" class="form-inline mt-5">
        <input name="filter" class="form-control" placeholder="Имя клиента..." value="@Model.RouteValue["Filter"]" />
        <button type="submit" class="btn btn-success ml-1">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <i class="fa fa-search" style="font-size:1.3em;"></i>
        </button>
        <a asp-action="ViewDataBase" asp-controller="Order" class="btn btn-warning ml-1">
            <i class="fas fa-sync" style="font-size:1.3em;"></i>
        </a>
    </form>

    <br />

    @if (Model.Count() > 0)
    {
        <h3 class="ml-1">Сортировать по</h3>
        <button class="btn btn-outline-secondary m-1">@Html.SortableHeaderFor(model => model.OrderTime)</button>
        <button class="btn btn-outline-secondary m-1">@Html.SortableHeaderFor(model => model.OrderID)</button>
        <button class="btn btn-outline-secondary m-1">@Html.SortableHeaderFor(model => model.Name)</button>
        <button class="btn btn-outline-secondary m-1">@Html.SortableHeaderFor(model => model.Shipped)</button>
        <hr />

        <table class="table table-bordered p-2">
            <thead class="table-bordered">
                <tr class="text-center bg-warning">
                    <th>
                        <h5 style="font-weight:bolder;">
                            Время заказа
                        </h5>
                    </th>
                    <th>
                        <h5 style="font-weight:bolder;">
                            Клиент
                        </h5>
                    </th>
                    <th>
                        <h5 style="font-weight:bolder;">
                            Город:
                        </h5>
                    </th>
                    <th>
                        <h5 style="font-weight:bolder;">
                            Почтовый индекс:
                        </h5>
                    </th>
                    <th>
                        <h5 style="font-weight:bolder;">
                            Адрес:
                        </h5>
                    </th>
                    <th>
                        <h5 style="font-weight:bolder;">
                            Номер телефона:
                        </h5>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Order o in Model.OrderByDescending(x => x.OrderID))
                {
                    <tr>
                        <td colspan="6" class="bg-white">
                        </td>
                    </tr>

                    <tr class="text-center">
                        <td colspan="6" class="bg-light">
                            <h3 style="font-weight: bolder; text-decoration-line:underline;">ID заказа: @o.OrderID</h3>
                        </td>
                    </tr>
                    <tr class="text-center table-bordered border-danger">
                        <th><h5>@o.OrderTime</h5></th>
                        <th><h5 style="font-weight: bolder;">@o.Name</h5></th>
                        <th><h5>@o.City</h5></th>
                        <th><h5>@o.Zip</h5></th>
                        <th><h5>@o.Line1</h5></th>
                        <th><h5>@o.Phone</h5></th>
                    </tr>
                    <tr class="text-center">
                        <td colspan="6">
                            <h4 style="font-weight:bolder;">Покупка:</h4>
                        </td>
                    </tr>

                    <tr class="table-bordered">
                        <td><h5>Объект:</h5></td>
                        <td><h5>Производитель:</h5></td>
                        <td><h5>Категория:</h5></td>
                        <td class="text-right"><h5>Количество:</h5></td>
                        <td class="text-right"><h5>Цена за ед.:</h5></td>
                        <td class="text-right"><h5>Итого:</h5></td>
                    </tr>
                    @foreach (CartLine i in o.Lines)
                    {
                        <tr class="table-bordered border-danger">
                            <td>@i.Product.Name</td>
                            <td>@i.Product.Manufacturer</td>
                            <td>@i.Product.Category</td>
                            <td class="text-right">@i.Quantity</td>
                            <td class="text-right">@i.Product.ProductPrice</td>
                            <td class="text-right">@i.TotalSum</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="6" class="bg-transparent">
                            <h4>
                                Статус: @if (@o.Shipped == true)
                                {
                                    <span class="badge badge-success badge-pill" style="font-size:1em;">
                                        Выполнено
                                    </span>
                                }
                                else
                                {
                                    <span class="badge badge-danger badge-pill" style="font-size:1em;">
                                        В ожиданий
                                    </span>
                                }
                            </h4>
                            <h4>Итоговая сумма: @o.TotalAmount</h4>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <div class="text-center">
            <h2 class="text-danger m-2">Нет данных для просмотра</h2>
        </div>
    }

    <div class="m-2">
        @*Pagination*@
        <nav style="float:left" aria-label="Order Paging">
            <h5>@await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })</h5>
            <hr />
            <a asp-controller="Admin" asp-action="Index" class="btn btn-sm btn-warning text-right" style="font-size:1.5em;">
                Панель администратора
            </a>
            <hr />
        </nav>
    </div>

</div>

@section Scripts{
    <script type="text/javascript">
                window.setTimeout(function() {
                window.location.href = '@Url.Action("ViewDataBase", "Order")';
            }, 120000);
    </script>
}