@model IEnumerable<AppAddress>

@{
    ViewBag.Title = "Панель управления: Контакты";
    Layout = "_AdminLayout";
}

<br />
<div class="container mt-5">
    <table class="table">
        <thead>
            <tr>
                <th>Изображение</th>
                <th scope="col">Город</th>
                <th scope="col">Адрес</th>
                <th scope="col">Телефон</th>
                <th scope="col">Эл. адрес</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {

            <tbody>
                <tr>
                    <th>
                        <img class="borderRadius border border-dark" src="~/images/@item.Picture" height="40" width="40" asp-append-version="true" />
                    </th>
                    <th>@item.City</th>
                    <th>@item.Address</th>
                    <th>@item.Phone</th>
                    <th>@item.Email</th>

                    <th class="text-right">
                        <form asp-action="DeleteAddress" asp-route-id="@item.Id" method="post">
                            <a class="btn btn-outline-warning" asp-action="EditAppAddressData" asp-route-id="@item.Id">
                                Редактировать
                            </a>
                            <button type="submit" class="btn btn-outline-danger" onclick="return confirm('Delete: @item.Address?')">
                                Удалить
                            </button>
                        </form>
                    </th>
                </tr>
            </tbody>
        }
    </table>
    <a asp-action="CreateAppAddressData" class="btn btn-outline-success" style="font-size:1.5em;">Добавить</a>
    <a asp-action="Index" class="btn btn-outline-primary" style="font-size:1.5em;">Назад</a>
</div>