@using Microsoft.AspNetCore.Identity
@model ChangeRoleViewModel

@{
    ViewBag.Title = "Изменить права доступа";
    Layout = "_AdminLayout";
}

<br />
<p class="text-center mt-3" style="font-size:1.9em; text-decoration-line:underline;">
    Смена ролей для пользователя
    <span class="badge badge-pill badge-light" style="font-size:1em;">
        @Model.UserEmail
    </span>
</p>

<div class="container mt-5">
    <div class="card m-2 p-2">
        <form asp-action="Edit" method="post">
            <input type="hidden" name="userId" value="@Model.UserId" />

            <div class="form-group">
                <div class="form-group p-1" style="font-size:1.1em;">
                    @foreach (IdentityRole role in Model.AllRoles)
                    {
                        <input type="checkbox" name="roles" value="@role.Name" class="larger"
                               @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") /> <span class="badge badge-light badge-pill">@role.Name</span> <br />
                        }
                </div>
            </div>
            <hr />

            <div class="form-group text-center">
                <button type="submit" class="btn btn-success" style="font-size:1.3em;">Изменить</button>
                <a asp-controller="Role" asp-action="UserList" class="btn btn-primary" style="font-size:1.3em;">Отмена</a>
            </div>

        </form>
    </div>
</div>